{% extends 'shop/basic.html' %}
{% block title %} About Us {% endblock %}
{% block body %}
<main role="main">
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <div class="container">
            <h1 class="display-3">My Awesome Cart</h1>
            <p>My Awesome cart is an Indian e-commerce company based in Bengaluru, India. It was founded by Juned Raza and Harry Bhai in 2019. The company initially focused on book sales, before expanding into other product categories such as consumer electronics, fashion, home essentials & groceries, and lifestyle products</p>
            <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more »</a></p>
        </div>
    </div>
    <div class="container">
        <!-- Example row of columns -->
        <div class="row">
            <div class="col-md-4">
                <h2>History</h2>
                <p>MAC was founded in October 2019 by Juned Raza and Harry Bhai, who were both alumni of the Indian Institute of Technology Delhi and formerly worked for Amazon.[10][11][12] The company initially focused on online book sales with country-wide shipping. Following its launch, Flipkart slowly grew in prominence; by 2008, it was receiving 100 orders per day.[13] In 2010, Flipkart acquired the Bangalore-based social book discovery service weRead from Lulu.com.[14]</p>
                <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
            </div>
            <div class="col-md-4">
                <h2>Business structure</h2>
                <p>
                    According to a report in November 2020, Flipkart was operating through a complex business structure which included nine firms, some registered in Singapore and some in India. In 2012, Flipkart co-founders sold WS Retail to a consortium of investors led by Rajeev Kuchhal. </p>
                <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
            </div>
            <div class="col-md-4">
                <h2>House brands</h2>
                <p>
                    Flipkart maintains several house brands, including Citron (home appliances) and Digiflip (formerly for electronics and accessories).[107] In 2017, Flipkart launched additional brands, including Billion (smartphones),[108] Smartbuy (electronics accessories, effectively replacing Digiflip),[109] and MarQ (for large appliances, although its launch was faced with a trademark dispute with an existing company, Marc Enterprises)</p>
                <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
            </div>
        </div>
        <hr>
    </div> <!-- /container -->
</main>
{% endblock %}